<section class="product_area mb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="services_title">
                    <h2>NOS PRODTUIS</h2>
                    <p>Nous distribuons les produits des marques les plus fiables du marché.
                    </p>
                </div>
            </div>
        </div>
        <div class="product_container">
            <div class="row">

                <div class="col-md-4">
                    <div class="single_product">
                        <div class="product_thumb">
                            <a class="primary_img" href="#" data-bs-toggle="modal" data-bs-target="#modal_box"><img
                                        src="enig/assets/img/product/product3.jpg" alt=""></a>
                            <a class="secondary_img" href="#" data-bs-toggle="modal" data-bs-target="#modal_box"><img
                                        src="enig/assets/img/product/product4.jpg" alt=""></a>
                            {#   <div class="label_product">
                                   <span class="label_sale">-8%</span>
                               </div>#}

                            <div class="action_links">
                                <ul>

                                    <li class="quick_button"><a href="#" data-bs-toggle="modal" data-bs-target="#modal_box"
                                                                title="quick view"> <i class="icon-eye"></i></a></li>
                                </ul>
                            </div>
                            <div class="product_timing">
                                <div data-countdown="2022/12/15"></div>
                            </div>
                            <div class="add_to_cart">
                                <a href="#" title="add to cart">Transmissions</a>
                            </div>
                        </div>
                        <div class="product_content">
                            <p class="manufacture_product" ><a href="#"><h3 style="text-align: center;font-weight: bolder;color: orange;">Studio Design</h3> </a></p>
                            <h4 style="text-align: center"><a href="product-details.html" style="text-align: center">Juicy Couture Juicy Quilted Terry...</a></h4>
                            <h4 style="text-align: center"><a href="product-details.html" style="text-align: center">Juicy Couture Juicy Quilted Terry...</a></h4>
                            <h4 style="text-align: center"><a href="product-details.html" style="text-align: center">Juicy Couture Juicy Quilted Terry...</a></h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single_product">
                        <div class="product_thumb">
                            <a class="primary_img" href="#" data-bs-toggle="modal" data-bs-target="#modal_box"><img
                                        src="enig/assets/img/product/product3.jpg" alt=""></a>
                            <a class="secondary_img" href="#" data-bs-toggle="modal" data-bs-target="#modal_box"><img
                                        src="enig/assets/img/product/product4.jpg" alt=""></a>
                            {#   <div class="label_product">
                                   <span class="label_sale">-8%</span>
                               </div>#}

                            <div class="action_links">
                                <ul>

                                    <li class="quick_button"><a href="#" data-bs-toggle="modal" data-bs-target="#modal_box"
                                                                title="quick view"> <i class="icon-eye"></i></a></li>
                                </ul>
                            </div>
                            <div class="product_timing">
                                <div data-countdown="2022/12/15"></div>
                            </div>
                            <div class="add_to_cart">
                                <a href="#" title="add to cart">Transmissions</a>
                            </div>
                        </div>
                        <div class="product_content">
                            <p class="manufacture_product" ><a href="#"><h3 style="text-align: center;font-weight: bolder;color: orange;">Studio Design</h3> </a></p>
                            <h4 style="text-align: center"><a href="product-details.html" style="text-align: center">Juicy Couture Juicy Quilted Terry...</a></h4>
                            <h4 style="text-align: center"><a href="product-details.html" style="text-align: center">Juicy Couture Juicy Quilted Terry...</a></h4>
                            <h4 style="text-align: center"><a href="product-details.html" style="text-align: center">Juicy Couture Juicy Quilted Terry...</a></h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single_product">
                        <div class="product_thumb">
                            <a class="primary_img" href="#" data-bs-toggle="modal" data-bs-target="#modal_box"><img
                                        src="enig/assets/img/product/product3.jpg" alt=""></a>
                            <a class="secondary_img" href="#" data-bs-toggle="modal" data-bs-target="#modal_box"><img
                                        src="enig/assets/img/product/product4.jpg" alt=""></a>
                            {#   <div class="label_product">
                                   <span class="label_sale">-8%</span>
                               </div>#}

                            <div class="action_links">
                                <ul>

                                    <li class="quick_button"><a href="#" data-bs-toggle="modal" data-bs-target="#modal_box"
                                                                title="quick view"> <i class="icon-eye"></i></a></li>
                                </ul>
                            </div>
                            <div class="product_timing">
                                <div data-countdown="2022/12/15"></div>
                            </div>
                            <div class="add_to_cart">
                                <a href="#" title="add to cart">Transmissions</a>
                            </div>
                        </div>
                        <div class="product_content">
                            <p class="manufacture_product" ><a href="#"><h3 style="text-align: center;font-weight: bolder;color: orange;">Studio Design</h3> </a></p>
                            <h4 style="text-align: center"><a href="product-details.html" style="text-align: center">Juicy Couture Juicy Quilted Terry...</a></h4>
                            <h4 style="text-align: center"><a href="product-details.html" style="text-align: center">Juicy Couture Juicy Quilted Terry...</a></h4>
                            <h4 style="text-align: center"><a href="product-details.html" style="text-align: center">Juicy Couture Juicy Quilted Terry...</a></h4>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>