<!--header area start-->
<header class="header_area header_two">

    <!--header middel start-->
    <div class="header_middle sticky-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-6">
                    <div class="logo">
                        <a href="index.html"><img src="enig/assets/img/logo/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-6 header_position">
                    <div class="middel_right">
                        <div class="main_menu menu_two">
                            <nav>
                                <ul>
                                    <li><a class="active" href="index.html">home</a>

                                    </li>
                                    <li><a href="about.html">Services</a></li>
                                    <li><a href="contact.html">Produits</a></li>
                                    <li><a href="contact.html">A propos</a></li>
                                    <li><a href="contact.html">Equipe</a></li>
                                    <li><a href="contact.html">Catégories</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="customer_support">
                            <div class="support_img_icon">
                                <img src="enig/assets/img/icon/icon_phone.png" alt="">
                            </div>
                            <div class="customer_support_text">
                                <p>
                                    <span>Customer Support</span>
                                    <a href="tel:0123456789">0123456789</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--header middel end-->
    <!--header bottom satrt-->

    <!--header bottom end-->

</header>
<!--header area end-->

<!--slider area start-->
<section class="slider_section slider_s_two">
    <div class="slider_area owl-carousel">
        <div class="single_slider d-flex align-items-center" data-bgimg="enig/assets/img/slider/slider4.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content slider_c_two">
                            <h2>The New</h2>
                            <h1>Tools & Workwear</h1>
                            <p>Black Friday Sale! Up To 70% Off Power Tools</p>
                            <a href="shop.html">shopping now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center" data-bgimg="enig/assets/img/slider/slider5.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content slider_c_two">
                            <h2>New Arrivals</h2>
                            <h1>Cordless Hammer Drill</h1>
                            <p>Bosh GSR 10,8 V-LI-2 Professional - Cordless Drill</p>
                            <a href="shop.html">shopping now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center" data-bgimg="enig/assets/img/slider/slider6.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content slider_c_two">
                            <h2>Twin Cordless</h2>
                            <h1>18Vx2 Lithium - ion</h1>
                            <p>Powered by two 18V Li-ion batteries in series</p>
                            <a href="shop.html">shopping now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--slider area end-->