<div class="our_services">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="services_title">
                    <h2>NOS SERVICES</h2>
                    <p>Voici ce que vous pouvez trouver chez nous
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="services_item">
                    <div class="services_icone">
                        <i class="fa fa-sliders" aria-hidden="true"></i>
                    </div>
                    <div class="services_desc">
                        <h3>Distribution</h3>
                        <p>Leader de la distribution d'équipements industriels, mécaniques, électriques et informatiques.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services_item">
                    <div class="services_icone">
                        <i class="fa fa-umbrella"></i>
                    </div>
                    <div class="services_desc">
                        <h3>Confection de tenue</h3>

                        <p>Notre atélier de confection de tenue de travail ultra equipé avec une équipe bien formée est à votre service.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services_item">
                    <div class="services_icone">

                        <i class="fa fa-camera"></i>

                    </div>
                    <div class="services_desc">
                        <h3>Matériels ferroviaires</h3>

                        <p>Numéro 1 de la mise à disposition de matériel ferroviaire en Afrique avec une base arrière en belgique.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<br>